@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "main.scss";
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono|Open+Sans';

body{
	background-color: #011627;
}

#banner{
	background-image: url(../images/backgroundnav.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 175px 0 175px;
    position: relative;
}

.center_div{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


h1,h3,h4,h5,h6,p{
	color: #FCA311;
	margin-top: 15px;
	font-family: 'Roboto Mono', monospace;
}

h6{
	color: #FDFFFC;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

h4{
	color: #E71D36;
	margin-top: 40px;
}

.title{
	margin-top: 350px;
	margin-bottom: 24px;
}

#uno{
	color: #2EC4B6 !important;
}

input{
	display: block;
	margin-top: 10px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

button{
	margin-top: 10px;
	border-radius: 5px;
	background-color: #E71D36 !important;
}

.banner_tittle{
	margin-left: 45%;
}

img{
	height: 45px;
	width: 75px;

}

.navbar{
	background-color: #011627;
}

