@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
@import "https://fonts.googleapis.com/css?family=Roboto+Mono|Open+Sans";
/* line 1, ../sass/_main.scss */
body {
  padding-top: 50px;
}

/* line 4, ../sass/_main.scss */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* line 9, ../sass/_main.scss */
.logo {
  display: inline-block;
  margin: 20px 15px 0 15px;
}

/* line 14, ../sass/_main.scss */
#main-logo {
  float: left;
  margin-right: 15px;
}

/* line 15, ../sass/_main.scss */
.brand-name {
  color: #fff;
}

/* line 16, ../sass/_main.scss */
#navbar {
  float: right;
}

/* line 17, ../sass/_main.scss */
#jquery-logo {
  width: 122px;
}

/* line 18, ../sass/_main.scss */
#bootstrap-logo {
  width: 54px;
}

/* line 19, ../sass/_main.scss */
#sass-logo {
  width: 62px;
}

/* line 20, ../sass/_main.scss */
#yeoman-logo {
  width: 75px;
}

/* line 21, ../sass/_main.scss */
#npm-logo {
  width: 70px;
}

/* line 22, ../sass/_main.scss */
#grunt-logo {
  width: 63px;
}

/* line 23, ../sass/_main.scss */
#bower-logo {
  width: 63px;
}

/* line 24, ../sass/_main.scss */
#compass-logo {
  width: 63px;
}

/* line 25, ../sass/_main.scss */
.cols-margin {
  margin-top: 42px;
}

/* line 26, ../sass/_main.scss */
.gray-text {
  color: #A5A5A5;
}

/* line 27, ../sass/_main.scss */
.docs-btn {
  background-color: #BC24D9;
  border-color: #8D1BA2;
  width: 300px;
  height: 72px;
  font-size: 26px;
  margin-top: 27px;
  line-height: 2em;
}
/* line 36, ../sass/_main.scss */
.docs-btn:hover, .docs-btn:active, .docs-btn:focus {
  background-color: #8D1BA2 !important;
  border-color: #8D1BA2 !important;
}

/* line 5, ../sass/styles.scss */
body {
  background-color: #011627;
}

/* line 9, ../sass/styles.scss */
#banner {
  background-image: url(../images/backgroundnav.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 175px 0 175px;
  position: relative;
}

/* line 18, ../sass/styles.scss */
.center_div {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 25, ../sass/styles.scss */
h1, h3, h4, h5, h6, p {
  color: #FCA311;
  margin-top: 15px;
  font-family: 'Roboto Mono', monospace;
}

/* line 31, ../sass/styles.scss */
h6 {
  color: #FDFFFC;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

/* line 37, ../sass/styles.scss */
h4 {
  color: #E71D36;
  margin-top: 40px;
}

/* line 42, ../sass/styles.scss */
.title {
  margin-top: 350px;
  margin-bottom: 24px;
}

/* line 47, ../sass/styles.scss */
#uno {
  color: #2EC4B6 !important;
}

/* line 51, ../sass/styles.scss */
input {
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* line 59, ../sass/styles.scss */
button {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #E71D36 !important;
}

/* line 65, ../sass/styles.scss */
.banner_tittle {
  margin-left: 45%;
}

/* line 69, ../sass/styles.scss */
img {
  height: 45px;
  width: 75px;
}

/* line 75, ../sass/styles.scss */
.navbar {
  background-color: #011627;
}
